* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: "Helvetica Neue", sans-serif;
    font-size: 16px; */
    width: 100vw;
    height: 100vh;
}

#root {
    background-color: #28a2e4;
    background: url(./images/map1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

#my-modal {
    background-color: "transparent";
    border: "2px solid black";
    border-radius: "10px";
    margin: "5px";
}
